@import 'variables.scss';
@import 'mixins.scss';

.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 18px;
    background-color: $main-bg-color;
    a{
        width: 100%;
    }
    &__card{
        @include card;
        height: 250px;
        background-color: white;
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);

        img{
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            height: 70%;
            width: 100%;
            transition: all 0.3s;
        }

        &__content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            i{
                font-size: 25px;
            }

            .fa-regular:hover{
                font-weight: 800;
                background: -webkit-linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }           
        }
    }
}