*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__logo{
        object-fit: cover;
        padding: 15px 90px;
        width: 50%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);    
    }
}