/* reminder on how to use fonts
-- font-family: 'Roboto', sans-serif;
-- font-family: 'Shrikhand', serif;
*/

// general ruleset & reset file
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}