* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background: #eaeaea;
}
.header__logoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
  filter: drop-shadow(0px 0px 3px gray);
}
.header__logo {
  object-fit: cover;
  padding: 15px 0px;
  width: 200px;
  height: 35px;
}
.header__location {
  width: 100%;
  padding: 15px 0px;
  font-size: 16px;
  text-align: center;
}
.header__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 5px;
  background-color: #353535;
  color: white;
}
.footer h3 {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 100;
}
.footer__textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer p {
  font-size: 16px;
  margin-bottom: 5px;
}
.footer .p--heavier {
  font-weight: 500;
}
.footer .fa-solid {
  width: 20px;
  font-size: 16px;
  margin-right: 10px;
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 60px;
    gap: 40px;
  }
  .footer h3 {
    order: 1;
    padding: 0px 20px 5px 20px;
  }
  .footer__textContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.onboarding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 15px;
  text-align: center;
  background: #F3F3F3;
}

button {
  user-select: none;
  height: 50px;
  width: 200px;
  color: white;
  font-weight: 500;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  filter: brightness(110%);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2);
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 30px;
  gap: 25px;
}
.tutorial__card {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  gap: 25px;
  background-color: #F3F3F3;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
}
.tutorial__card span {
  transform: translate(-10px, 0px);
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 100px;
}
.tutorial__card p {
  position: absolute;
  transform: translate(8px, 4px);
  font-size: 14px;
  color: white;
}
.tutorial__card__icon {
  color: grey;
}
.tutorial__card__icon--color {
  color: #9356DC;
}
.tutorial__cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 25px;
}
@media screen and (min-width: 1024px) {
  .tutorial {
    justify-content: center;
    align-items: center;
  }
  .tutorial h2 {
    width: 80%;
  }
  .tutorial__cardContainer {
    flex-direction: row;
    width: 80%;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 20px;
  gap: 20px;
  margin-top: 40px;
  background-color: #F3F3F3;
}
.restaurants__cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.restaurants__card {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  height: 251px;
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
}
.restaurants__card a {
  width: 100%;
}
.restaurants__card img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 70%;
  width: 100%;
  transition: all 0.3s;
}
.restaurants__card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 13px;
}
.restaurants__card__heart {
  position: relative;
  height: 50px;
  font-size: 25px;
  text-align: center;
  right: 55px;
  top: 190px;
}
.restaurants__card__heart__outline {
  position: absolute;
  width: 50px;
  top: 12px;
  left: 0;
  opacity: 1;
  transition: opacity 1s;
}
.restaurants__card__heart__filled {
  position: absolute;
  width: 50px;
  top: 12px;
  left: 0;
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.5s;
}
.restaurants__card__heart:hover .restaurants__card__heart__outline {
  opacity: 0;
}
.restaurants__card__heart:hover .restaurants__card__heart__filled {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    align-items: center;
  }
  .restaurants__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .restaurants h2 {
    width: 80%;
  }
  .restaurants__cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 251px 251px;
    gap: 40px 80px;
    width: 80%;
  }
}/*# sourceMappingURL=homepage_style.css.map */