/* reminder on how to use fonts
-- font-family: 'Roboto', sans-serif;
-- font-family: 'Shrikhand', serif;
*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background: #eaeaea;
}
.header__logoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.header__logo {
  object-fit: cover;
  padding: 15px 0px;
  width: 50%;
}
.header__location {
  width: 100%;
  padding: 15px 0px;
  font-size: 16px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  background-color: #353535;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 100;
}
footer p {
  font-size: 16px;
  margin-bottom: 5px;
}
footer .fa-solid {
  width: 20px;
  font-size: 16px;
  margin-right: 10px;
}

.onboarding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 15px;
  text-align: center;
  background: #F3F3F3;
}

button {
  user-select: none;
  height: 50px;
  width: 200px;
  color: white;
  font-weight: 500;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  filter: brightness(110%);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2);
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 30px;
  gap: 25px;
}
.tutorial__card {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  gap: 25px;
  background-color: #F3F3F3;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
}
.tutorial__card span {
  transform: translate(-10px, 0px);
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 100px;
}
.tutorial__card p {
  position: absolute;
  transform: translate(8px, 4px);
  font-size: 14px;
  color: white;
}
.tutorial__card__icon {
  color: grey;
}
.tutorial__card__icon--color {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 20px;
  margin-top: 40px;
  gap: 18px;
  background-color: #F3F3F3;
}
.restaurants a {
  width: 100%;
}
.restaurants__card {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  height: 250px;
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
}
.restaurants__card img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 70%;
  width: 100%;
  transition: all 0.3s;
}
.restaurants__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.restaurants__card__content i {
  font-size: 25px;
}
.restaurants__card__content .fa-regular:hover {
  font-weight: 800;
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=homepage_style.css.map */