@import '../common/variables.scss';
@import '../common/mixins.scss';

.onboarding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 15px;
    text-align: center;
    background : $main-bg-color;
}
button{
    @include button;
}

.tutorial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 30px;
    gap: 25px;

    &__card{
        @include card;
        @include animated-slideFromLeft;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 5px;
        gap: 10px;
        background-color: $main-bg-color;
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);

        span{
            transform: translate(-10px, 0px);            
            background-color: $primary-color;
            width: 24px;
            height: 24px;
            border-radius: 100px;
        }
        p{
            position: absolute;
            transform: translate(8px, 4px);
            font-size: 14px;
            color: white;
        }
        &__icon{
            color: grey;
            &--color{
                color: $primary-color;
            }
        }
    }
    &__cardContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 25px;
    }

    @media screen and (min-width:1024px) {
        justify-content: center;
        align-items: center;

        h2{
            width: 80%;
        }

        &__cardContainer{
            flex-direction: row;
            width: 80%;
        }
    }
}

